﻿@using Fr.EQL.AI110.DLD_GB.Entities
@using Fr.EQL.AI110.DLD_GB.Web.Controllers
@using Fr.EQL.AI110.DLD_GB.Web.Models
@model DonationSearchViewModel

@{
    ViewData["Title"] = "Liste des dons liés à un partenaire";
}

<div class=Partners>

    <div class="mx-auto" style="width: 1000px;">

@if (@Model.DonationsDetails.Any()) {
   <h1>Liste des dons liés au partenaire @Model.DonationsDetails[0].NomPartenaire</h1>
}else{
    <h1>Pas de don hébergé actuellement </h1>
}
    </div>

    <br/>

    <div  class="text-center">
    <h5><b>Recherche de l'adhérent :</b></h5>
    <form method="post">
        @*Prénom : <input asp-for=" PrenomAdherent"  />*@

        @*Nom : <input asp-for="NomAdherent" /><br/><br/>*@

        <input type="submit" value="Filtrer par adhérent"  class="btn btn-secondary btn-sm"/>
    </form>
    </div>
<br/><br/>



<table class="table">
    <thead>
        <tr>
            <th scope="col">Prénom adhérent</th>
            <th scope="col">Nom adhérent</th>
            <th scope="col">Produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Unité</th>
            <th scope="col">Température de stockage</th>
            <th scope="col">Date de dépôt</th>
            <th scope="col">Date de péremption</th>
        </tr>
    </thead>
   <tbody>
        @foreach (DonationDetails donation in Model.DonationsDetails)
        {
        <tr>
            <td scope="col">@donation.PrenomDonateur</td>
            <td scope="col">@donation.NomDonateur</td>
            <td scope="col">@donation.NomProduit</td>
            <td scope="col">@donation.QuantiteProduit</td>
            <td scope="col">@donation.UniteMesure</td>
            <td scope="col">@donation.TemperatureStockage</td>
            <td scope="col">@donation.DateDeDepot</td>
            <td scope="col">@donation.DatePeremption</td>
        </tr>
        }
    </tbody>
</table>
</div>
