﻿@using Fr.EQL.AI110.DLD_GB.Entities
@using Fr.EQL.AI110.DLD_GB.Web.Controllers
@using Fr.EQL.AI110.DLD_GB.Web.Models
@model PartnerSearchViewModel


<div  class="text-center">
	<h1>Recherche de partenaires</h1>
	<br/>
    <form method="post">
        Nom : <input asp-for="Name"  />

        N° SIRET : <input asp-for="Siret" />
 
        <select asp-for="VilleId" >
            <option value="">Ville</option>
            @foreach (VilleCP villeCp in Model.VilleCPs)
            {
               <option value="@villeCp.Id">@villeCp.Ville</option>
            }
        </select>

        <input type="submit" value="Filtrer"  class="btn btn-secondary btn-sm"/>
    </form>
</div>
<br/><br/>


<div  class="text-center">
	<h1>Liste des Partenaires</h1>
	<br/>
	<table class="table">
			<thead>
				<tr>
					<th scope="col">Societe</th>
					<th scope="col">Prénom Référent</th>
					<th scope="col">Nom Référent</th>
					<th scope="col">Siret</th>
					<th scope="col">Consulter</th>
				</tr>
			</thead>
			<tbody>
				@foreach (Partner partner in Model.Partners)
				{
					<tr>
						<td>@partner.NomSociete</td>
						<td>@partner.PrenomReferent</td>
						<td>@partner.NomReferent</td>
						<td>@partner.Siret</td>
						<td>
							<a asp-controller="StorageArea"
							asp-action="Index"
							asp-route-id="@partner.Id">
							<button class="btn btn-secondary btn-sm">Ses espaces de stockage</button>
							</a>
						</td>
					</tr>
				}
			</tbody>
	</table>
</div>



