﻿﻿@using Fr.EQL.AI110.DLD_GB.Entities;
@using Fr.EQL.AI110.DLD_GB.Web.Models
@model EvaluateDonationViewModel

@{
    ViewData["Title"] = "Evaluation d'un échange donné";
}


<div class="mx-auto" style="width: 500px;">
<h1>Evaluation d'un échange</h1><br/><br/>
</div>


<form method="post">
    <div class="mx-auto" style="width: 500px;">

    ID échange :
    <select asp-for="EchangeId">
        @foreach (Echange echange in Model.Echanges)
        {
            <option value="@echange.Id">@echange.DonId</option>
        }      
    </select>
    @*<input type="hidden" value="@Model.EchangeId" asp-for="EchangeId"  />*@

     Qualité échange :
    <select asp-for="QualiteEchangeId">
        @foreach (QualiteEchange qualiteEchange in Model.QualitesEchange)
        {
            <option value="@qualiteEchange.Id">@qualiteEchange.Nom</option>
        }      
    </select>

    <br/><br/><br/>

    Qualité produit :
    <select asp-for="QualiteProduitId">
        @foreach (QualiteProduit qualiteProduit in Model.QualitesProduit)
        {
            <option value="@qualiteProduit.Id">@qualiteProduit.Nom</option>
        }      
    </select>

    <br/><br/><br/>

    @*Note évaluation : <input asp-for="NoteEvaluation", required="required"/>*@
    Note évaluation :
    <div class="form-check form-check-inline">
      <input asp-for="NoteEvaluation", class="form-check-input" type="radio" id="inlineRadio1" value="1">
      <label class="form-check-label" for="inlineRadio1">1</label>
    </div>
    <div class="form-check form-check-inline">
      <input asp-for="NoteEvaluation", class="form-check-input" type="radio" id="inlineRadio2" value="2">
      <label class="form-check-label" for="inlineRadio2">2</label>
    </div>
    <div class="form-check form-check-inline">
      <input asp-for="NoteEvaluation", class="form-check-input" type="radio" id="inlineRadio3" value="3">
      <label class="form-check-label" for="inlineRadio3">3</label>
    </div>
    <div class="form-check form-check-inline">
      <input asp-for="NoteEvaluation", class="form-check-input" type="radio" id="inlineRadio4" value="4">
      <label class="form-check-label" for="inlineRadio4">4</label>
    </div>
    <div class="form-check form-check-inline">
      <input asp-for="NoteEvaluation", class="form-check-input" type="radio" id="inlineRadio5" value="5">
      <label class="form-check-label" for="inlineRadio5">5</label>
    </div>

    <br/><br/><br/>

    <div class="form-group">
    <label for="inputAddress2">Commentaire évaluation :</label>
    <input asp-for="CommentaireEvaluation" type="text" class="form-control" id="inputAddress2" placeholder="Très bon échange...">
    </div>

    <br/><br/>
    <div class="mx-auto" style="width: 200px;">
    <input type="submit" value="Valider l'évaluation de cet échange" name="ok"/>
    </div>
</form>
