﻿@using Fr.EQL.AI110.DLD_GB.Entities
@using Fr.EQL.AI110.DLD_GB.Web.Controllers
@using Fr.EQL.AI110.DLD_GB.Web.Models

@model HomeViewModel


<h3>Bienvenue chez <strong>DLD</strong></h3>
<h2>Date Limite de Don, en première ligne contre le gaspillage alimentaire</h2>



Se connecter en tant que ...
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" style="width:35rem;">
        <div class="card text-white bg-success mb-3" style="max-width: 50rem;">

            <img src="/image/Partenaire.jpg" class="card-img-top" alt="..." style=" width: 100%;  height: 20vw;object-fit: cover;">

            <div class="card-body">
                <h5 class="card-title">Partenaire</h5>
                <p class="card-text">Hebergez et distribuez les dons des utilisateurs près de chez vous et participez à la lutte contre le gaspillage !</p>
                <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
               
                <form><select  asp-for="IdPartner" class="form-select" id="inlineFormSelectPref">
                    <option selected>Selectionez un partenaire</option>
                    @foreach (Partner partner in Model.Partners)
                    {
                        <option value="@partner.Id">@partner.NomSociete</option>
                    }
                </select>
                <div class="navbar-wrapper">
                    <div class="container full-width" style="padding:1rem;">
                                    <input type="submit" asp-controller="StorageArea" asp-action="Index"  class="btn btn-primary" value="Ses moyens de stockage"></input>
                       <input type="submit" asp-controller="Partner" asp-action="DonationToStock"  class="btn btn-primary" value="Les dons hébergés"></input>
                    </div>
                    </form>
                </div>
            </div>
            <div class="card-footer text-muted">
                <a href="#" class="link-light">Créer un compte Partenaire</a>
            </div>
        </div>
    </div>

    <div class="col" style="width:35rem;">
        <div class="card text-dark bg-warning mb-3" style="max-width: 50rem;">

            <img src="/image/Adherent.jpg" class="card-img-top" alt="..." style=" width: 100%;  height: 20vw;object-fit: cover;">

            <div class="card-body">
                <h5 class="card-title">Adherent</h5>
                <p class="card-text">Rejoignez nous dans la lutte contre le gaspillage ! Donnez vos produits alimentaire en surplus et bénéficiez de dons des autres adhérents</p>
                <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                <form>
                    <select asp-for="IdAdherent" class="form-select" id="inlineFormSelectPref">
                        <option selected>Selectionez un adhérent</option>
                        @foreach (Adherent adherent in Model.Adherents)
                        {
                            <option value="@adherent.Id">@adherent.NomUtilisateur</option>
                        }
                    </select>

                    <div class="navbar-wrapper">
                        <div class="container full-width" style="padding:1rem;">
                            <input type="submit" asp-controller="donation" asp-action="Index"  class="btn btn-primary" value="Reserver un don"></input>
                            <input type="submit" asp-controller="donation" asp-action="Proposed"  class="btn btn-primary" value="Gérer ses dons"></input>
                            <input type="submit" asp-controller="donation" asp-action="Create1"  class="btn btn-primary" value="Déposer un don"></input>
                        </div>
                    </div>
                </form>
                <div>


                    <div class="card-footer text-muted">
                        <a href="#" class="link-dark">Créer un compte Adhérent</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
