﻿@using Fr.EQL.AI110.DLD_GB.Entities; 
@using Fr.EQL.AI110.DLD_GB.Web.Models
@model AdherentSearchViewModel

<div  class="text-center">
	<h1>Recherche adhérent</h1>
	<br/>
    <form method="post">
        Prénom : <input asp-for="Prenom"  />

        Nom : <input asp-for="Nom" />

        <input type="submit" value="Filtrer"  class="btn btn-secondary btn-sm"/>
    </form>
</div>
<br/><br/>

<div  class="text-center">
	<h1>Liste des adhérents</h1>
	<br/>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Prenom</th>
				<th scope="col">Nom</th>
				<th scope="col">Afficher</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Adherent adherent in Model.Adherents)
			{
				<tr>
					<td>@adherent.Prenom</td>
					<td>@adherent.Nom</td>
					<td>
						<a asp-controller="donation"
						asp-action="proposed"
						asp-route-id="@adherent.Id">
						<button class="btn btn-secondary btn-sm">Les dons proposés</button>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
