﻿@using Fr.EQL.AI110.DLD_GB.Business;
@using Fr.EQL.AI110.DLD_GB.Entities;
@using Fr.EQL.AI110.DLD_GB.Web.Models;

@model AddCartViewModel

<div class="btn-group">
  <button type="button" style="max-height:2rem; max-width:2rem;" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    @Model.TotalArticleAuPanier
  </button>
  <ul class="dropdown-menu">
@foreach (CartDetails cart in @Model.CartsDetails){
    <li>@cart.ProduitNom @cart.Quantite @cart.UniteDeMesure</li>
}
<li> <a class="btn btn-outline-dark" asp-controller="Cart" asp-action="Index" asp-route-idAdherent="@Model.IdAdherent">Détail du panier </a></li>
  </ul>
</div>

 <span style="margin:20px"></span>

 <svg style="max-height:2rem; max-width:2rem;margin:-32px; color: green;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="carrot" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-carrot fa-w-16 fa-2x"><path fill="currentColor" d="M424.17 80.61c-18.13-3-51.9 6.18-72.49 17.69-17-9.52-42.45-17-61.15-17.79 1.82 2.21 3.83 4.17 5.5 6.58 20.84 30.15 25.74 72.3 22.17 104.91H478c5.25-39.47-5.16-102.65-53.83-111.39zM210.53 50.47C221.82 38.28 225 18.44 223.75.25c-12.88-.86-35.67-.12-50 13.28-16.55 16.6-13.75 46.36-13.24 50.22C179 65 198.28 61.9 210.53 50.47zm191.69 0c11.29-12.19 14.43-32 13.22-50.22-12.88-.86-35.67-.12-50 13.28-16.53 16.6-13.77 46.36-13.22 50.22 18.45 1.25 37.78-1.85 50-13.28zM232.48 80.61c-18.13-3-51.9 6.18-72.48 17.69-20.66-11.56-54.43-20.71-72.48-17.69C38.91 89.34 28.53 152.88 33.7 192h252.6c5.26-39.47-5.15-102.65-53.82-111.39z" class="fa-secondary"></path></svg>
 <svg style="max-height:2rem; max-width:2rem; color: saddlebrown;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="carrot" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-carrot fa-w-16 fa-2x"><path fill="currentColor" d="M496 224H16a16 16 0 0 0-16 16v112h512V240a16 16 0 0 0-16-16zM64 304a16 16 0 1 1 16-16 16 16 0 0 1-16 16zm384 0a16 16 0 1 1 16-16 16 16 0 0 1-16 16zM0 496a16 16 0 0 0 16 16h480a16 16 0 0 0 16-16V384H0zm448-64a16 16 0 1 1-16 16 16 16 0 0 1 16-16zm-384 0a16 16 0 1 1-16 16 16 16 0 0 1 16-16z" class="fa-primary"></path></svg>
