﻿﻿@using Fr.EQL.AI110.DLD_GB.Entities
@using Fr.EQL.AI110.DLD_GB.Web.Models

@model StorageViewModel

<body class="back">

        <header>
            <h1>Espace de stockage</h1>
        </header>

        <form method="post">

            @*Le champs adresse*@
                <input asp-for="StorageArea.NomEtNDeVoie" 
                    placeholder="N° et nom de voie" class="voie"/>

            @*Les selecteur déroulants*@
            <p>
                <select asp-for="StorageArea.VilleCpId" class="select">
                    <option value="0">Selectionnez une ville</option>
                    @foreach (VilleCP Ville in Model.Villes)
                    {
                        <option value="@Ville.Id">@Ville.Ville</option>
                    }
                </select>
            </p>

            <input type="hidden" value="@Model.IdPartner" asp-for="StorageArea.PartenaireId" />

            <p>
                <select asp-for="StorageArea.TailleId" class="select">
                    <option value="0">Selectionnez une taille de stockage</option>
                    @foreach (Taille taille in Model.Tailles)
                    {
                        <option value="@taille.Id">@taille.NomTaille</option>
                    }
                </select>
            </p>
            <p>
                <select asp-for="StorageArea.TemperatureStockageId" class="select">
                    <option value="0">Selectionnez une température de stockage</option>
                    @foreach (TemperatureStockage tempstock in Model.Temperatures)
                    {
                        <option value="@tempstock.Id">@tempstock.Nom</option>
                    }
                </select>
            </p>

            @*Le collapse pour ajouter les heures*@
            
@*                <p>
                    <button class="newButton" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#collapseExample" aria-expanded="false" 
                    aria-controls="collapseExample" >
                        Plages horaires
                    </button>
                </p>
            <span class="collapseField">
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col"></th>
                              <th scope="col" colspan="3">Matin</th>
                              <th scope="col"></th>
                              <th scope="col" colspan="3">Après-midi</th>
                              <th scope="col"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row" colspan="1">Lundi</th>
                              <input type="hidden" asp-for="PlageHoraireLundi.JoursId" value="1"/>
                              <td><input asp-for="PlageHoraireLundi.DebutPlage1" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireLundi.FinPlage1" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireLundi.DebutPlage2" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireLundi.FinPlage2" type="time" /></td>
                            </tr>
                            <tr>
                              <th scope="row" colspan="1">Mardi</th>
                              <input type="hidden" asp-for="PlageHoraireMardi.JoursId" value="2"/>
                              <td><input asp-for="PlageHoraireMardi.DebutPlage1" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireMardi.FinPlage1" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireMardi.DebutPlage2" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireMardi.FinPlage2" type="time" /></td>
                            </tr>
                            <tr>
                              <th scope="row" colspan="1">Mercredi</th>
                              <input type="hidden" asp-for="PlageHoraireMercredi.JoursId" value="3"/>
                              <td><input asp-for="PlageHoraireMercredi.DebutPlage1" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireMercredi.FinPlage1" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireMercredi.DebutPlage2" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireMercredi.FinPlage2" type="time" /></td>
                            </tr>
                            <tr>
                              <th scope="row" colspan="1">Jeudi</th>
                              <input type="hidden" asp-for="PlageHoraireJeudi.JoursId" value="4"/>
                              <td><input asp-for="PlageHoraireJeudi.DebutPlage1" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireJeudi.FinPlage1" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireJeudi.DebutPlage2" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireJeudi.FinPlage2" type="time" /></td>
                            </tr>
                            <tr>
                              <th scope="row" colspan="1">Vendredi</th>
                              <input type="hidden" asp-for="PlageHoraireVendredi.JoursId" value="5"/>
                              <td><input asp-for="PlageHoraireVendredi.DebutPlage1" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireVendredi.FinPlage1" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireVendredi.DebutPlage2" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireVendredi.FinPlage2" type="time" /></td>
                            </tr>
                            <tr>
                              <th scope="row" colspan="1">Samedi</th>
                              <input type="hidden" asp-for="PlageHoraireSamedi.JoursId" value="6"/>
                              <td><input asp-for="PlageHoraireSamedi.DebutPlage1" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireSamedi.FinPlage1" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireSamedi.DebutPlage2" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireSamedi.FinPlage2" type="time" /></td>
                            </tr>
                            <tr>
                              <th scope="row" colspan="1">Dimanche</th>
                              <input type="hidden" asp-for="PlageHoraireDimanche.JoursId" value="7"/>
                              <td><input asp-for="PlageHoraireDimanche.DebutPlage1" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireDimanche.FinPlage1" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireDimanche.DebutPlage2" type="time" /></td>
                              <td></td>
                              <td><input asp-for="PlageHoraireDimanche.FinPlage2" type="time" /></td>
                            </tr>
                            
                          </tbody>
                        </table>
                    </div>
                </div>
            </span>

            <br/>*@

            @*Les checkbox*@
                <span class="checkbox1">
                    <h5>Box automatique</h5>
                    <div class="form-check form-switch">
                    <input asp-for="StorageArea.BoxAutomatique" 
                        class="form-check-input" type="checkbox" 
                        id="flexSwitchCheckDefault" style="width:10rem;height:1rem" />
                    </div>
                </span>

                <span class="checkbox2">
                    <h5>Disponible</h5>
                    <div class="form-check form-switch">
                    <input asp-for="StorageArea.Disponible" 
                        class="form-check-input" type="checkbox" 
                        id="flexSwitchCheckDefault" style="width:10rem;height:1rem" />
                    </div>
                </span>

            @*Le bouton*@
            <center>
            <input type="submit" value="Enregistrer" name="OK" class="newButton" />
            </center>

        </form>
</body>

