﻿@using Fr.EQL.AI110.DLD_GB.Entities
@using Fr.EQL.AI110.DLD_GB.Web.Models

@model StorageViewModel

<body class="text-center back">

    <a asp-controller="storageArea"
           asp-action="Create"
         asp-route-IdPartner="@Model.IdPartner">
        <button class="newButtonIndex coin">Ajouter</button>
    </a>

        <header>
            <h1>Liste des espaces de stockage</h1>
        </header>

        <br />

    <div class="text-center">

        <table class="table tableau">
            <thead>
                <tr class="text-center">
                    <th width="250" class="display-7">Taille</th>
                    <th width="250" class="display-7">Température</th>
                    <th width="250" class="display-7">Partenaire</th>
                    <th width="250" class="display-7">Ville</th>
                    <th width="250" class="display-7">Adresse</th>
                    <th width="250" class="display-7">Box</th>
                    <th width="250" class="display-7">Disponible</th>
                </tr>
            </thead>
            <tboby>
                @foreach (StorageAreaDetails storageAreaDetails in Model.StorageAreasDetails)
                {
                    <tr class="display-7">
                        <td>@storageAreaDetails.TailleNom</td>
                        <td>@storageAreaDetails.TemperatureStockageNom</td>
                        <td>@storageAreaDetails.PartenaireNomSociete</td>
                        <td>@storageAreaDetails.VilleCPNom</td>
                        <td>@storageAreaDetails.NomEtNDeVoie</td>
                        <td>
                            @if (@storageAreaDetails.BoxAutomatique)
                            {
                                <img width="25" height="25" src="~/image/green_V.png" alt="ok"/>
                            }
                            else
                            {
                                <img width="25" height="25" src="~/image/red_X.png" alt="no"/>
                            }
                        </td>
                        <td>
                            @if (@storageAreaDetails.Disponible)
                            {
                                <img width="25" height="25" src="~/image/green_V.png" alt="ok"/>
                            }
                            else
                            {
                                <img width="25" height="25" src="~/image/red_X.png" alt="no"/>
                            }
                        </td>
                        <td>
                            @*<th>
                                <p>
                                    <button class="newButtonDetails" type="button" data-bs-toggle="collapse" 
                                        data-bs-target="#collapseWidthExample" aria-expanded="false" 
                                        aria-controls="collapseWidthExample">
                                        Détails
                                    </button>
                                </p>
                                <div style="min-height: 30px">
                                    <div class="collapse collapse-horizontal collapseFieldIndex" id="collapseWidthExample">
                                        <div class="card card-body" style="width: 300px">
                                            <table class="table table-sm">
                                                <tr>
                                                    <td colspan="2">
                                                        Matin
                                                    </td>
                                                    <td colspan="2">
                                                        Après-midi
                                                    </td>
                                                </tr>
                                                    @foreach (PlageHoraire plageHoraires in Model.PlagesHoraires)
                                                    {
                                                        <tr>
                                                            <td> @plageHoraires.NomJour</td>
                                                            <td> @plageHoraires.DebutPlage1.ToString("H:mm")</td>
                                                            <td> @plageHoraires.FinPlage1.ToString("H:mm")</td>
                                                            <td> @plageHoraires.DebutPlage2.ToString("H:mm")</td>
                                                            <td> @plageHoraires.FinPlage2.ToString("H:mm")</td>
                                                        </tr>
                                                    }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </th>*@
                            <th>
                                <a asp-controller="storageArea"
                                    asp-action="update"
                                    asp-route-id="@storageAreaDetails.Id">
                                    <button class="newButtonIndex">Modifier</button>
                                </a>
                            </th>

                            <th>
                                <a asp-controller="storageArea"
                                    asp-action="cancel"
                                    asp-route-idPartenaire="@storageAreaDetails.PartenaireId"
                                    asp-route-id="@storageAreaDetails.Id">
                                    <button class="newButtonIndex">Supprimer</button>
                                </a>
                            </th>
                        </td>
                    </tr>
                }
            </tboby>
        </table>
    </div>
</body>

