﻿@using Fr.EQL.AI110.DLD_GB.Entities;
@using Fr.EQL.AI110.DLD_GB.Web.Models
@model CreateDonationViewModel

<div class="mx-auto" style="width: 500px">
    <h1>Proposition d'un don</h1> 
</div>
<br/><br/>  

<form method="post" action="Create2">
    <div class="mx-auto" style="width: 500px">
        Adhérent : <label>@Model.AdherentNom</label>
        <input type="hidden" asp-for="AdherentId" value="@Model.AdherentId" />
        <br/><br/>
        <label>Choix du rayon</label>
            <select asp-for="RayonId" class="form-select" aria-label="Default select example">
                <option selected>Rayons</option>
            @foreach(Rayon rayon in Model.Rayons)
            {
                <option value="@rayon.Id">@rayon.Nom</option>
            }
            </select>
        <br/>
        <input type="submit" value="Suivant" class="btn btn-secondary btn-sm"/>
    </div>
</form>
