﻿@using Fr.EQL.AI110.DLD_GB.Entities;
@using Fr.EQL.AI110.DLD_GB.Web.Models
@model CreateDonationViewModel

 


<div class="mx-auto" style="width: 500px">
    <h1>Proposition d'un don</h1> 
</div>
<br/><br/>   

<form method="post" action="create6">
    <div class="mx-auto" style="width: 500px">

        <input type="hidden" asp-for="AdherentId" value="@Model.AdherentId" />
        <input type="hidden" asp-for="RayonId" value="@Model.RayonId" />
        <input type="hidden" asp-for="CategorieId" value="@Model.CategorieId" />
        <input type="hidden" asp-for="ProduitId" value="@Model.ProduitId" />  
        <input type="hidden" asp-for="UniteDeMesureId" value="@Model.UniteDeMesureId" />    
        <input type="hidden" asp-for="QuantiteProduit" value="@Model.QuantiteProduit" />    
        <input type="hidden" asp-for="TemperatureStockageId" value="@Model.TemperatureStockageId" />       
        <input type="hidden" asp-for="DatePeremption" value="@Model.DatePeremption" /> 
        <input type="hidden" asp-for="EmballageId" value="@Model.EmballageId" /> 


        <h2>Lieu de distribution : </h2>
        <ul>
            <li>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">Domicile</label>
            </li>
            <li>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">Autre adresse</label>
                <ul>
                    <li>
                        <select asp-for="VilleId"  class="form-select">
                        <option value=null>Ville</option>
                        @foreach (VilleCP ville in Model.Villes)
                        {
                            <option value="@ville.Id">@ville.Ville</option>
                        }
                        </select>
                    </li>
                    <li>
                        Nom et n° voie  <input asp-for="NomEtNDeVoie" class="form-control"/>
                    </li>
                </ul>
            </li>
            <li>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" >
                <label class="form-check-label" for="flexRadioDefault3">Partenaire</label>
                <ul>
                    <li>
                        <select asp-for="PartnerId" class="form-select">
                        <option value="">Partenaire</option>
                        @foreach (Partner partner in Model.Partners)
                        {
                            <option value="@partner.Id">@partner.NomSociete</option>
                        }
                        </select>
                  </li>
              </ul>
            </li>
        </ul>
        <br/>

        <input type="submit" value="envoyer" class="btn btn-secondary btn-sm"/>
</form>