﻿@using Fr.EQL.AI110.DLD_GB.Entities;
@using Fr.EQL.AI110.DLD_GB.Web.Models
@model CreateDonationViewModel

 

<div class="mx-auto" style="width: 500px">
    <h1>Proposition d'un don</h1> 
</div>
<br/><br/>  

<form method="post" action="create4">
    <div class="mx-auto" style="width: 500px">
        Adhérent : <label>@Model.AdherentNom</label>
        <input type="hidden" asp-for="AdherentId" value="@Model.AdherentId" />
        <br/><br />
        Rayon : <label>@Model.RayonNom</label>
        <input type="hidden" asp-for="RayonId" value="@Model.RayonId" />
        <br/><br/>
        Categorie : <label>@Model.CategorieNom</label>
        <input type="hidden" asp-for="CategorieId" value="@Model.CategorieId" />
        <br/><br/>
        <label>Choix du produit</label>
        <select asp-for="ProduitId" class="form-select" aria-label="Default select example">
                <option selected>Produits</option>
            @foreach(Produit produit in Model.Produits)
            {
                <option value="@produit.Id">@produit.Nom</option>
            }
        </select>
        <br/>
        <input type="submit" value="Suivant" class="btn btn-secondary btn-sm"/>
    </div>
</form>