﻿@using Fr.EQL.AI110.DLD_GB.Entities;
@using Fr.EQL.AI110.DLD_GB.Web.Models
@model CreateDonationViewModel
 

    <div class="mx-auto" style="width: 500px">
        <h1>Proposition d'un don</h1> 
    </div>
    <br/><br/>
    <form method="post" action="create5">
        <div class="mx-auto" style="width: 500px">

            <input type="hidden" asp-for="AdherentId" value="@Model.AdherentId" />
            <input type="hidden" asp-for="RayonId" value="@Model.RayonId" />
            <input type="hidden" asp-for="CategorieId" value="@Model.CategorieId" />
            <input type="hidden" asp-for="ProduitId" value="@Model.ProduitId" />    

            <label>Unité de mesure</label>
            <select asp-for="UniteDeMesureId", required="required" class="form-select">
                <option selected>Choisir...</option>
            @foreach (UniteMesure uniteMesure in Model.UnitesMesure)
            {
                <option value="@uniteMesure.Id">@uniteMesure.Nom</option>
            }
            </select>
            <br/>
            <label>Quantité</label>
            <input asp-for="QuantiteProduit", required="required" class="form-control"/>
            <br/>
            <label>Température de stockage</label>
            <select asp-for="TemperatureStockageId", required="required" class="form-select">
                <option selected>Choisir...</option>
            @foreach (TemperatureStockage temperatureStockage in Model.TemperaturesStockage)
            {
                <option value="@temperatureStockage.Id">@temperatureStockage.Nom</option>
            }
            </select>
            <br/>
            <label>Date de péremption</label>
            <input type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" asp-for="DatePeremption", required="required" class="form-control"/>
            <br/>
            <label>État de l'emballage</label>
            <select asp-for="EmballageId" class="form-select">
                <option selected>Choisir...</option>
                @foreach (Emballage emballage in Model.Emballages)
                {
                    <option value="@emballage.Id">@emballage.Nom</option>
                }
            </select>
            <br/>
            <input type="submit" value="suivant" class="btn btn-secondary btn-sm"/>
        </div>
    </form>
</div>