﻿@using Fr.EQL.AI110.DLD_GB.Entities;
@using Fr.EQL.AI110.DLD_GB.Web.Models
@model CreateDonationViewModel

<div class="mx-auto" style="width: 500px">
    <h1>Proposition d'un don</h1> 
</div>
<br/><br/>  

<form method="post" action="Create3">
     <div class="mx-auto" style="width: 500px">
        Adhérent : <label>@Model.AdherentNom</label>
        <input type="hidden" asp-for="AdherentId" value="@Model.AdherentId" />
        <br/><br/>
        Rayon : <label>@Model.RayonNom</label>
        <input type="hidden" asp-for="RayonId" value="@Model.RayonId" />
        <br/><br />
        <label>Choix de la Catégorie</label>
        <select asp-for="CategorieId" class="form-select" aria-label="Default select example">
                <option selected>Categories</option>
             @foreach(Categorie categorie in Model.Categories)
            {
                <option value="@categorie.Id">@categorie.Nom</option>
            }
        </select>
        <br/>
        <input type="submit" value="Suivant" class="btn btn-secondary btn-sm" />
    </div>
</form>



  