﻿@using Fr.EQL.AI110.DLD_GB.Entities
@using Fr.EQL.AI110.DLD_GB.Web.Controllers
@using Fr.EQL.AI110.DLD_GB.Web.Models
@model DonationDetails
        <form method="post">

        <input type="hidden" asp-for="AdherentId" value="@Model.AdherentId" />
        <input type="hidden" asp-for="RayonId" value="@Model.RayonId" />
        <input type="hidden" asp-for="CategorieId" value="@Model.CategorieId" />
        <input type="hidden" asp-for="ProduitId" value="@Model.ProduitId" />  
        <input type="hidden" asp-for="UniteDeMesureId" value="@Model.UniteDeMesureId" />     
        <input type="hidden" asp-for="TemperatureStockageId" value="@Model.TemperatureStockageId" />       
        <input type="hidden" asp-for="DatePeremption" value="@Model.DatePeremption" /> 
        <input type="hidden" asp-for="EmballageId" value="@Model.EmballageId" />
        <input type="hidden" asp-for="EmplacementDeStockageId" value="@Model.EmplacementDeStockageId" />
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="hidden" asp-for="Ville" value="@Model.Ville" />
        <input type="hidden" asp-for="NomEtNDeVoie" value="@Model.NomNumeroVoie" />

 

 <label>Changer la quantité du produit</label>
            <input asp-for="QuantiteProduit", required="required" class="form-control"/>

                                    <p>
                                    <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStockage" aria-expanded="false" aria-controls="collapseStockage">
                                        Modifier le lieu de recupération
                                    </button>
                                </p>
                                <div class="collapse" id="collapseStockage">
                                    <div class="card card-body" style="max-width:20rem;">

    @if (@Model.EmplacementDeStockageId > 0)
    {
        <span> Le don est actuellement rataché à un emplacement de stockage, voulez vous changer ?</span>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">Domicile</label>


                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">Autre adresse</label>


                <input placeholder:"Saisir le numéro et le nom de la voie" value="@Model.NomEtNDeVoie" asp-for="NomEtNDeVoie">
                 <input placeholder:"Saisir la ville" list="Villes" asp-for=Ville>
                <datalist id="Villes">
                    <option value="">Tous...</option>
                    @foreach (VilleCP VilleCP in Model.Villes)
                    {
                        <option value="@VilleCP.Ville">@VilleCP.Ville</option>
                    }
                </datalist>
                                 <input list="CP" asp-for="CP" placeholder:"Saisir le code postal">
                <datalist id="Villes">
                    <option value="">Tous...</option>
                    @foreach (VilleCP VilleCP in Model.Villes)
                    {
                        <option value="@VilleCP.Ville">@VilleCP.Ville</option>
                    }
                </datalist>
    }
    else
    {
         <span> Le don est actuellement distribué par vos soins, voulez-vous changer ?</span>

                        <select asp-for="PartnerId" class="form-select">
                        <option value="">Partenaire</option>
                        @foreach (Partner partner in Model.Partners)
                        {
                            <option value="@partner.Id">@partner.NomSociete</option>
                        }
                        </select>
    }

                 </div>
                               </div>

        @if (@Model.EmplacementDeStockageId > 0)
        {
            <span>Ce don est rataché à un emplacement de stockage, vous ne pouvez pas changer ses horaires</span>
        }
        else
        {

                                    <p>
                                    <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCalendar" aria-expanded="false" aria-controls="collapseExample">
                                        Modifier les horaires
                                    </button>
                                </p>
                                @:<div class="collapse" id="collapseCalendar">
                                    @:<div class="card card-body" style="max-width:30rem;">


        

@:<table class="table table-sm">

    <tr>

        <td> Horaires</td>
        <td colspan="2">
            Matin
        </td>

        <td colspan="2">
            Après-midi
        </td>
    </tr>

@:<tr>
           @:<td> <input type="hidden" asp-for="Lundi.JoursId" value="1">Lundi </input></td> 
           @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
         { if (plageHoraire.JoursId == 1 ) {
               <span><input asp-for="Lundi.DebutPlage1" type="time" value ="@plageHoraire.DebutPlage1.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire) == (Model.Plages.Count -1) && plageHoraire.JoursId != 1)
            {
                 <span><input asp-for="Lundi.DebutPlage1" type="time"></span>
            }
    }</td>
              @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 1 ) {
               <span><input asp-for="Lundi.FinPlage1" type="time" value ="@plageHoraire.FinPlage1.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 1)
            {
                 <span><input asp-for="Lundi.FinPlage1" type="time"></span>
            }
    }</td>
              @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 1 ) {
               <span><input asp-for="Lundi.DebutPlage2" type="time" value ="@plageHoraire.DebutPlage2.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 1)
            {
                 <span><input asp-for="Lundi.DebutPlage2" type="time"></span>
            }
    }</td>

                  @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 1 ) {
               <span><input asp-for="Lundi.FinPlage2" type="time" value ="@plageHoraire.FinPlage2.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 1)
            {
                 <span><input asp-for="Lundi.FinPlage2" type="time"></span>
            }
    }</td>
@:</tr>

@:<tr>
           @:<td> <input type="hidden" asp-for="Mardi.JoursId" value="2">Mardi </input></td> 
          @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 2 ) {
               <span><input asp-for="Mardi.DebutPlage1" type="time" value ="@plageHoraire.DebutPlage1.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Mardi.DebutPlage1" type="time"></span>
            }
    }</td>
              @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 2 ) {
               <span><input asp-for="Mardi.FinPlage1" type="time" value ="@plageHoraire.FinPlage1.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Mardi.FinPlage1" type="time"></span>
            }
    }</td>
              @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 2 ) {
               <span><input asp-for="Mardi.DebutPlage2" type="time" value ="@plageHoraire.DebutPlage2.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Mardi.DebutPlage2" type="time"></span>
            }
    }</td>

                  @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 2 ) {
               <span><input asp-for="Mardi.FinPlage2" type="time" value ="@plageHoraire.FinPlage2.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Mardi.FinPlage2" type="time"></span>
            }
    }</td>
@:</tr>

@:<tr>
           @:<td> <input type="hidden" asp-for="Mercredi.JoursId" value="3">Mercredi </input></td> 
          @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 3 ) {
               <span><input asp-for="Mercredi.DebutPlage1" type="time" value ="@plageHoraire.DebutPlage1.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Mercredi.DebutPlage1" type="time"></span>
            }
    }</td>
              @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 3 ) {
               <span><input asp-for="Mercredi.FinPlage1" type="time" value ="@plageHoraire.FinPlage1.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Mercredi.FinPlage1" type="time"></span>
            }
    }</td>
              @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 3 ) {
               <span><input asp-for="Mercredi.DebutPlage2" type="time" value ="@plageHoraire.DebutPlage2.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Mercredi.DebutPlage2" type="time"></span>
            }
    }</td>

                  @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 3 ) {
               <span><input asp-for="Mercredi.FinPlage2" type="time" value ="@plageHoraire.FinPlage2.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Mercredi.FinPlage2" type="time"></span>
            }
    }</td>
@:</tr>

@:<tr>
           @:<td> <input type="hidden" asp-for="Jeudi.JoursId" value="4">Jeudi </input></td> 
          @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 4 ) {
               <span><input asp-for="Jeudi.DebutPlage1" type="time" value ="@plageHoraire.DebutPlage1.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Jeudi.DebutPlage1" type="time"></span>
            }
    }</td>
              @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 4 ) {
               <span><input asp-for="Jeudi.FinPlage1" type="time" value ="@plageHoraire.FinPlage1.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Jeudi.FinPlage1" type="time"></span>
            }
    }</td>
              @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 4 ) {
               <span><input asp-for="Jeudi.DebutPlage2" type="time" value ="@plageHoraire.DebutPlage2.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Jeudi.DebutPlage2" type="time"></span>
            }
    }</td>

                  @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 4 ) {
               <span><input asp-for="Jeudi.FinPlage2" type="time" value ="@plageHoraire.FinPlage2.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Jeudi.FinPlage2" type="time"></span>
            }
    }</td>
@:</tr>

@:<tr>
           @:<td> <input type="hidden" asp-for="Vendredi.JoursId" value="5">Vendredi </input></td> 
          @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 5 ) {
               <span><input asp-for="Vendredi.DebutPlage1" type="time" value ="@plageHoraire.DebutPlage1.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Vendredi.DebutPlage1" type="time"></span>
            }
    }</td>
              @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 5 ) {
               <span><input asp-for="Vendredi.FinPlage1" type="time" value ="@plageHoraire.FinPlage1.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Vendredi.FinPlage1" type="time"></span>
            }
    }</td>
              @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 5 ) {
               <span><input asp-for="Vendredi.DebutPlage2" type="time" value ="@plageHoraire.DebutPlage2.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Vendredi.DebutPlage2" type="time"></span>
            }
    }</td>

                  @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 5 ) {
               <span><input asp-for="Vendredi.FinPlage2" type="time" value ="@plageHoraire.FinPlage2.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Vendredi.FinPlage2" type="time"></span>
            }
    }</td>
@:</tr>

@:<tr>
           @:<td> <input type="hidden" asp-for="Samedi.JoursId" value="6">Samedi </input></td> 
          @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 6 ) {
               <span><input asp-for="Samedi.DebutPlage1" type="time" value ="@plageHoraire.DebutPlage1.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Samedi.DebutPlage1" type="time"></span>
            }
    }</td>
              @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 6 ) {
               <span><input asp-for="Samedi.FinPlage1" type="time" value ="@plageHoraire.FinPlage1.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Samedi.FinPlage1" type="time"></span>
            }
    }</td>
              @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 6 ) {
               <span><input asp-for="Samedi.DebutPlage2" type="time" value ="@plageHoraire.DebutPlage2.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Samedi.DebutPlage2" type="time"></span>
            }
    }</td>

                  @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 6 ) {
               <span><input asp-for="Samedi.FinPlage2" type="time" value ="@plageHoraire.FinPlage2.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Samedi.FinPlage2" type="time"></span>
            }
    }</td>
@:</tr>

@:<tr>
           @:<td> <input type="hidden" asp-for="Dimanche.JoursId" value="7">Dimanche </input></td> 
          @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 7 ) {
               <span><input asp-for="Dimanche.DebutPlage1" type="time" value ="@plageHoraire.DebutPlage1.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Dimanche.DebutPlage1" type="time"></span>
            }
    }</td>
              @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 7 ) {
               <span><input asp-for="Dimanche.FinPlage1" type="time" value ="@plageHoraire.FinPlage1.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Dimanche.FinPlage1" type="time"></span>
            }
    }</td>
              @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 7 ) {
               <span><input asp-for="Dimanche.DebutPlage2" type="time" value ="@plageHoraire.DebutPlage2.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Dimanche.DebutPlage2" type="time"></span>
            }
    }</td>

                  @:<td @foreach (PlageHoraire plageHoraire in Model.Plages)
    { if (plageHoraire.JoursId == 7 ) {
               <span><input asp-for="Dimanche.FinPlage2" type="time" value ="@plageHoraire.FinPlage2.ToString("H:mm")"></span>
               break;
            }else if (Model.Plages.IndexOf(plageHoraire)== (Model.Plages.Count -1) && plageHoraire.JoursId != 2)
            {
                 <span><input asp-for="Dimanche.FinPlage2" type="time"></span>
            }
    }</td>
@:</tr>
@:</table>
          
                 }                  
                 </div>
                                </div>
                            

    <input type="submit" class="btn btn-outline-success">Enregistrer les modifications</input>
</form>
          <a asp-controller="donation"
   asp-action="Cancel"
   asp-route-id="@Model.Id"
   asp-route-idAdherent="@Model.AdherentId">
    <button class="btn btn-outline-danger">Supprimer le don</button>
</a>