﻿@using Fr.EQL.AI110.DLD_GB.Entities;
@using Fr.EQL.AI110.DLD_GB.Web.Models;

@model DonationSearchViewModel



<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Mes dons proposés</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Mes dons reservés</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <h1>Mes dons proposés</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date de création</th>
                    <th scope="col">Produit</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Partenaire</th>
                    <th scope="col">date de dépôt en stockage</th>
                    <th scope="col">Adresse du don</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DonationDetails donation in Model.DonationsDetails)
                {
                    <tr>
                        <td>@donation.DateEntreeProposition.ToString("d")</td>
                        <td>@donation.NomProduit</td>
                        <td>@donation.QuantiteProduit @donation.UniteMesure</td>
                        <td>@donation.NomPartenaire</td>
                        <td>
                            @if (@donation.DateDeDepot.ToString("d").Equals("01/01/0001") && (@donation.EmplacementDeStockageId != null && @donation.EmplacementDeStockageId != 0))
                            {
                                <p>
                                    <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        Don à déposer chez le partenaire
                                    </button>
                                </p>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                           <a asp-controller="donation"
                           asp-action="ConfirmerDepot"
                           asp-route-idDon="@donation.Id"
                           asp-route-idAdherent="@donation.AdherentId">
                           
                                    <button class="btn btn-outline-dark">Mon don est déposé</button>
                                    </a>
                                    </div>
                                </div>

                                <span class="text-warning"></span>
                            }
                            else if (@donation.DateDeDepot.ToString("d").Equals("01/01/0001") && (@donation.EmplacementDeStockageId == null || @donation.EmplacementDeStockageId == 0))
                            {
                                <span>Don délivré par vos soins</span>
                            }
                            else
                                @donation.DateDeDepot.ToString("d")

                            </td>
                            <td>@donation.NomEtNDeVoie @donation.Ville (@donation.CodePostal)</td>
                            <td>
                                <a asp-controller="donation"
                                 asp-action="ModificationAndCancel"
                                 asp-route-idDon="@donation.Id"
                                 asp-route-idAdherent="@donation.AdherentId">
                                    <button class="btn btn-success">Annuler ou modifier</button>
                                </a>

                            </td>
                        </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

        <h1>Mes reservations</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Unité de mesure</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Partenaire</th>
                    <th scope="col">Disponible jusqu'au</th>
                    <th scope="col">Adresse du don</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DonationDetails donation in Model.Donationreserved)
                {
                    <tr>
                        <td>@donation.NomProduit</td>
                        <td>@donation.QuantiteProduit</td>
                        <td>@donation.UniteMesure</td>
                        <td>@donation.Ville</td>
                        <td>@donation.NomPartenaire</td>
                        <td>@donation.DatePeremption.ToString("d")</td>
                        <td>@donation.NomNumeroVoie @donation.Ville (@donation.CodePostal)</td>
                        <td>
                            <a asp-controller="donation"
                           asp-action="CancelReservation"
                           asp-route-IdDon="@donation.Id"
                           asp-route-idAdherent="@Model.Adherent.Id">
                                <button class="btn btn-outline-danger">Annuler ma reservation</button>
                            </a>
                            <a asp-controller="donation"
                           asp-action="ConfirmerRecuperationDeDon"
                           asp-route-IdToConfirm="@donation.Id"
                           asp-route-idAdherent="@Model.Adherent.Id">
                                <button class="btn btn-outline-success">Confirmer la reception</button>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>


</div>





