﻿@using Fr.EQL.AI110.DLD_GB.Entities
@using Fr.EQL.AI110.DLD_GB.Web.Controllers
@using Fr.EQL.AI110.DLD_GB.Web.Models
@model DonationSearchViewModel

@{
    ViewData["Title"] = "DLD";
}

<style>
    body {
        background-color: white
    }

    div.container {
        display: flex;
        vertical-align: central;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    form. {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin: 10px;
    }

    div.bnavig li ul {
        display: none;
    }

    div.bnavig li:hover ul {
        display: block;
        position: relative;
        top: 0;
        left: 25px;
    }

    div.bnavig button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

    ol li button {
        background: none;
        color: blue;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

    ol:last-child button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

    div.chemin {
        align-content: center
    }


    div.bnavig ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        border: 1px solid #555;
    }

    div.bnavig li {
        display: block;
        color: #000;
        padding: 8px 0 8px 16px;
        text-decoration: none;
        text-align: center;
        border-bottom: 1px solid #555;
    }

        div.bnavig li:hover {
            background-color: #555;
            color: white;
        }

        div.bnavig li:last-child {
            border-bottom: none;
        }

    div.donation {
        border: 1px solid #555;
        align-content: center;
        justify-content: start;
    }

</style>

<h1>Bienvenue @Model.Adherent.NomUtilisateur !</h1>
<h2>Voici vos reservations en cours</h2>

<form method="Post">

    <div class="Chemin">

        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                @if (Model.RayonId != 0 && Model.CategorieId == 0 && Model.ProduitId == 0)
                {

                    <li class="breadcrumb-item"> <button asp-for=reset name=reset value=true type="submit">Catégories</button></li>
                    <li class="breadcrumb-item"><button asp-for=RayonId name=RayonId value="@Model.RayonActuel.Id" type="submit">@Model.RayonActuel.Nom</button></li>
                }
                else if (Model.RayonId == 0 && Model.CategorieId != 0 && Model.ProduitId == 0)
                {


                    <li class="breadcrumb-item"> <button asp-for=reset name=reset value=true type="submit">Catégories</button></li>
                    <li class="breadcrumb-item"> <button asp-for=RayonId name=RayonId value="@Model.RayonActuel.Id" type="submit">@Model.RayonActuel.Nom</button></li>

                    <li class="breadcrumb-item">  <button type="submit" name=CategorieId asp-for=CategorieId value="@Model.CategorieActuelle.Id">@Model.CategorieActuelle.Nom </button></li>
                }
                else if (Model.RayonId == 0 && Model.CategorieId == 0 && Model.ProduitId != 0)
                {

                    <li class="breadcrumb-item"> <button asp-for=reset name=reset value=true type="submit">Catégories</button></li>
                    <li class="breadcrumb-item">  <button asp-for=RayonId name=RayonId value="@Model.RayonActuel.Id" type="submit">@Model.RayonActuel.Nom</button></li>

                    <li class="breadcrumb-item">  <button type="submit" name=CategorieId asp-for=CategorieId value="@Model.CategorieActuelle.Id">@Model.CategorieActuelle.Nom</button></li>

                    <li class="breadcrumb-item"> <button type="submit" name=ProduitId asp-for=produitId value="@Model.ProduitActuel.Id">@Model.ProduitActuel.Nom</button></li>
                }
            </ol>
        </nav>



    </div>
    <div class="bnavig">
        <ul>
            @if (Model.RayonId == 0 && Model.CategorieId == 0 && Model.ProduitId == 0)
            {
                <li>
                    Catégories
                    <ul>
                        @foreach (Rayon rayon in Model.Rayons)
                        {
                            <li> <button asp-for=RayonId name=RayonId value="@rayon.Id" type="submit">@rayon.Nom</button></li>
                        }
                    </ul>
                </li>
            }
            else if (Model.RayonId != 0 && Model.CategorieId == 0 && Model.ProduitId == 0)
            {
                <li>
                    @Model.RayonActuel.Nom
                    <ul>
                        @foreach (Categorie categorie in Model.Categories)
                        {
                            <li> <button type="submit" name=CategorieId asp-for=CategorieId value="@categorie.Id">@categorie.Nom </button> </li>
                        }
                    </ul>
                </li>
            }
            else if (Model.RayonId == 0 && Model.CategorieId != 0 && Model.ProduitId == 0)
            {
                <li>
                    @Model.CategorieActuelle.Nom
                    <ul>
                        @foreach (Produit produit in Model.Produits)
                        {
                            <li> <button type="submit" name=ProduitId asp-for=produitId value="@produit.Id">@produit.Nom</button> </li>
                        }
                    </ul>
                </li>
            }
            else if (Model.RayonId == 0 && Model.CategorieId == 0 && Model.ProduitId != 0)
            {
                <li>
                    @Model.ProduitActuel.Nom
                </li>
            }
        </ul>
    </div>

   <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Filtrer les dons</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Filtrer les dons</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>
                Box automatique : <input asp-for="Box">

                Quantité :<input asp-for="QuantiteProduit" />
                <select asp-for="UniteMesure">
                    <option value="">Tous...</option>
                    @foreach (UniteMesure UniteMesure in Model.UnitesMesure)
                    {
                        <option value="@UniteMesure.Nom">@UniteMesure.Nom</option>
                    }
                </select>

                Temperature de stockage :
                <select asp-for="TemperatureStockage">
                    <option value="">Tous...</option>
                    @foreach (TemperatureStockage TemperatureStockage in Model.TemperaturesStockage)
                    {
                        <option value="@TemperatureStockage.Nom">@TemperatureStockage.Nom</option>
                    }
                </select>


                <input list="Villes" asp-for=Ville>
                <datalist id="Villes">
                    <option value="">Tous...</option>
                    @foreach (VilleCP VilleCP in Model.Villes)
                    {
                        <option value="@VilleCP.Ville">@VilleCP.Ville</option>
                    }
                </datalist>

                Distance :<input asp-for="Distance" />


                <input list="ListeDeProduit" asp-for=ListeProduits multiple>
                <datalist id="ListeDeProduit">

                    <option value="" selected>Tous...</option>
                    @if (Model.Produits != null)
                    {
                        @foreach (Produit produit in Model.Produits)
                        {
                            <option value="@produit.Nom">@produit.Nom</option>
                        }
                    }
                </datalist>

                <input type="submit" value="Filtrer" data-bs-dismiss="offcanvas" />

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <div class="input-group-text"></div>
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                        <select class="form-select" id="inlineFormSelectPref">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                            <label class="form-check-label" for="inlineFormCheck">
                                Remember me
                            </label>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </p>
        </div>
    </div>





</form>


<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (DonationDetails donation in Model.DonationsDetails)
    {

        <div class="col">
            <div class="card h-100">
                <img src="/image/Carotte.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@donation.NomProduit</h5>
                    <p class="card-text">
                        @donation.QuantiteProduit  @donation.UniteMesure          <br>
                        @donation.Ville (@donation.CodePostal)

                        @if (donation.Box == true)
                        {
                            <div class=Donation>
                                "Box Automatique"
                            </div>
                        }
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><a class="btn btn-primary" asp-action="Details" asp-route-id="@donation.Id">Détails du don</a> <a class="btn btn-primary" asp-controller="donation" asp-action="AddtoCart" asp-route-id="@donation.Id">Ajouter au panier </a></small>
                </div>
            </div>
        </div>
    }


</div>

</div>

