html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 15px;
    }
}

html {
    position: center;
    min-height: 100%;
}

.back {
  background-color:ghostwhite;
  background-image: image-set("../image/fond.png");
  background-size: cover;
  background-position-x: center;
  margin: 1rem;
  text-align: center;
  justify-self: center;
}

.title {
    color: black;
}

/*.band {
    background-color: burlywood;
    color: transparent;
    padding-bottom: 2rem;
    opacity: 0.3;
    border-radius: 1rem;
}*/

.voie {
    background-color: transparent;
    width: 35rem;
    height: 3rem;
    padding-bottom: 0.5rem;
    position: relative;
    top: 8.5rem;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    border-radius: 1rem;
}

.select {
    background-color: transparent;
    width: 35rem;
    height: 3rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    top: 10rem;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    border-radius: 1rem;
}

.checkbox1 {
    position: relative;
    top: 11rem;
    left: 28.5rem;
}

.checkbox1 h5 {
    position: relative;
    right: 38.35rem;
    bottom: 1rem;
    font-weight: bolder;
}

.checkbox2 {
    position: relative;
    top: 7.5rem;
    left: 48rem;
}

.checkbox2 h5 {
    position: relative;
    right: 38.35rem;
    bottom: 1rem;
    font-weight: bolder;
}

.newButton {
    background-color: antiquewhite;
    font-weight: bold;
    font-size: large;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    top: 10rem;
    border: thin;
    border-radius: 1rem;
    transition: background-color linear 0.25s;
}

.newButton:hover {
    background-color: burlywood;
}

.newButtonIndex {
    background-color: antiquewhite;
    font-weight: bold;
    font-size: large;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: thin;
    border-radius: 1rem;
    transition: background-color linear 0.25s;
}

.newButtonIndex:hover {
    background-color: burlywood;
}

.newButtonDetails {
    background-color: antiquewhite;
    font-weight: bold;
    font-size: large;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    top: 1.5rem;
    border: thin;
    border-radius: 1rem;
    transition: background-color linear 0.25s;
}

.newButtonDetails:hover {
    background-color: burlywood;
}

.collapseField {
    position: relative;
    top: 10rem;
}

.collapseFieldIndex {
    position: relative;
    top: 1.5rem;
}

.coin {
    position: relative;
    left: 30rem;
    top: 5.5rem;
}

.tableau {
    vertical-align: middle;
}

#form_accueil {
    background-color: darkseagreen;
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}
body {
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}