﻿@using Fr.EQL.AI110.DLD_GB.Entities; 
@using Fr.EQL.AI110.DLD_GB.Web.Controllers
@using Fr.EQL.AI110.DLD_GB.Web.Models
@model AddCartViewModel

<div style="text-align:center">
	<h1>Mon panier : @Model.TotalArticleAuPanier dons au total</h1>
</div>
<br/>


<style>


    container {
        display: flex;
        vertical-align: central;
		flex-direction:row;
        justify-content: spacespace-between;
		width : 100%;
    }
    span.organisationglobale {
        display: flex;
        vertical-align: central;
        flex-flow: row wrap;
		flex-direction:row;
        justify-content: spacespace-between;
		
    }

</style>
<div class="row row-cols-1 row-cols-md-3 g-4">
	@foreach(CartDetails cartDetails in Model.CartsDetails)
	{
	<div class="card card-body" style="margin:1rem; max-width:20rem;">
		<div style="display:flex; width: 15rem;">
			<div >
				<img src="~/image/@cartDetails.Picture" alt="@cartDetails.Picture" style="width: 150px; height: 100px; padding:0px 20px 0px 0px;">
			</div>		
			<div padding-top: 5px;>
				<span style="font-size:14px; color:darkblue; margin-top:10px">@cartDetails.ProduitNom</span>
				<br/>
				<span style="font-size:12px; color:grey;">@cartDetails.Categorie</span>
				<br/>
				<span  style="font-size:12px">@cartDetails.Quantite </span>
				<span style="font-size:12px">@cartDetails.UniteDeMesure</span>
				<br/>
			</div>
			<div style="color: #6495ED; flex-direction:column; margin-left:20px;"> 
				<div style="margin-bottom:15px">
					<a asp-controller="cart"
						asp-action="DeleteOneCart"
						asp-route-IdCart="@cartDetails.Id"
						asp-route-idAdherent="@cartDetails.AdherentId">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
						<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
						<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
						</svg>
                   </a> 
				</div>
				<div>
					<a asp-controller="cart"
						asp-action="ReserveOneCart"
						asp-route-IdToReserve="@cartDetails.DonId"
						asp-route-idAdherent="@cartDetails.AdherentId"
						asp-route-IdCart="@cartDetails.Id">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
						<path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
						<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
						</svg>
					</a>
				</div>
			</div>
		</div>
    </div>

	}
	</div>


@*<div style="display:flex; flex-direction:column; align-items: center;">
	@foreach (CartDetails cartDetails in Model.CartsDetails)
			{
				<div style="display:flex; border: thin solid #E0E0E0; border-radius: 30px; padding:15px 15px 0 15px; margin-bottom:25px">
					<div>
						<img src="~/image/Fond.png" alt="@cartDetails.Picture" style="width: 200px; padding:0px 20px 0px 0px;">
					</div>
				
					<div padding-top: 5px;>
						<span style="font-size:14px; color:darkblue; margin-top:10px">@cartDetails.ProduitNom</span>
						<br/>
						<span style="font-size:12px; color:grey;">@cartDetails.Categorie</span>
						<br/>
						<span  style="font-size:12px">@cartDetails.Quantite </span>
						<span style="font-size:12px">@cartDetails.UniteDeMesure</span>
						<br/>
					</div>
					<div style="color: #6495ED; flex-direction:column; margin-left:20px; padding-top:10px"> 
						<div style="margin-bottom:15px">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
							  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
							  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
							</svg>
							<span> supprimer</span>
						</div>
						<div>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
							  <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
							  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
							</svg>
							<span>Réserver</span>
						</div>
					</div>


				</div>
			}
</div>
*@



